*.ssh.*
*.ssh
terraform/HomeWork5.4/.terraform.lock.hcl
terraform/HomeWork5.4/key.json
terraform/HomeWork5.4/network.tf
terraform/HomeWork5.4/node01.tf
terraform/HomeWork5.4/output.tf
terraform/HomeWork5.4/provider.tf
terraform/HomeWork5.4/variables.tf
packer/sentos7.json
homeworks/ansible/homework5.4/ansible.cfg
homeworks/ansible/homework5.4/inventory
homeworks/ansible/homework5.4/provision.yml
homeworks/ansible/homework5.4/terraform.tfstate
homeworks/ansible/homework5.4/ubuntu
homeworks/ansible/homework5.4/ubuntu.pub
homeworks/ansible/homework5.4/yes
homeworks/ansible/homework5.4/yes.pub
homeworks/ansible/homework5.4/stack/.env
homeworks/ansible/homework5.4/stack/docker-compose.yaml
homeworks/ansible/homework5.4/stack/alertmanager/config.yml
homeworks/ansible/homework5.4/stack/caddy/Caddyfile
homeworks/ansible/homework5.4/stack/exporters/docker-compose.exporters.yaml
homeworks/ansible/homework5.4/stack/grafana/provisioning/dashboards/dashboard.yml
homeworks/ansible/homework5.4/stack/grafana/provisioning/dashboards/general_docker_host.json
homeworks/ansible/homework5.4/stack/grafana/provisioning/dashboards/general_monitor_services.json
homeworks/ansible/homework5.4/stack/grafana/provisioning/datasources/datasource.yml
homeworks/ansible/homework5.4/stack/prometheus/alert.rules
homeworks/ansible/homework5.4/stack/prometheus/prometheus.yml
