*.ssh.*
*.ssh
terraform/HomeWork5.4/.terraform.lock.hcl
terraform/HomeWork5.4/key.json
terraform/HomeWork5.4/network.tf
terraform/HomeWork5.4/node01.tf
terraform/HomeWork5.4/output.tf
terraform/HomeWork5.4/provider.tf
terraform/HomeWork5.4/variables.tf
packer/sentos7.json
homeworks/ansible/homework5.4/ansible.cfg
homeworks/ansible/homework5.4/inventory
homeworks/ansible/homework5.4/provision.yml
homeworks/ansible/homework5.4/terraform.tfstate
homeworks/ansible/homework5.4/ubuntu
homeworks/ansible/homework5.4/ubuntu.pub
homeworks/ansible/homework5.4/yes
homeworks/ansible/homework5.4/yes.pub
homeworks/ansible/homework5.4/stack/.env
homeworks/ansible/homework5.4/stack/docker-compose.yaml
homeworks/ansible/homework5.4/stack/alertmanager/config.yml
homeworks/ansible/homework5.4/stack/caddy/Caddyfile
homeworks/ansible/homework5.4/stack/exporters/docker-compose.exporters.yaml
homeworks/ansible/homework5.4/stack/grafana/provisioning/dashboards/dashboard.yml
homeworks/ansible/homework5.4/stack/grafana/provisioning/dashboards/general_docker_host.json
homeworks/ansible/homework5.4/stack/grafana/provisioning/dashboards/general_monitor_services.json
homeworks/ansible/homework5.4/stack/grafana/provisioning/datasources/datasource.yml
homeworks/ansible/homework5.4/stack/prometheus/alert.rules
homeworks/ansible/homework5.4/stack/prometheus/prometheus.yml
vagrant/homework5.2/ansible.cfg
vagrant/homework5.2/vagrant
vagrant/homework5.2/vagrant.pub
vagrant/homework5.2/Vagrantfile
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/action_provision
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/action_set_name
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/box_meta
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/creator_uid
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/id
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/index_uuid
vagrant/homework5.2/.vagrant/machines/server1.netology/virtualbox/vagrant_cwd
vagrant/homework5.2/.vagrant/rgloader/loader.rb
packer/focal-server-cloudimg-amd64.img
packer/packer.json
ansible/homework5.2/inventory
ansible/homework5.2/provision.yml
ansible/homework5.4/ansible.cfg
ansible/homework5.4/inventory
ansible/homework5.4/provision.yml
ansible/homework5.4/terraform.tfstate
ansible/homework5.4/ubuntu
ansible/homework5.4/ubuntu.pub
ansible/homework5.4/yes
ansible/homework5.4/yes.pub
ansible/homework5.4/stack/.env
ansible/homework5.4/stack/docker-compose.yaml
ansible/homework5.4/stack/alertmanager/config.yml
ansible/homework5.4/stack/caddy/Caddyfile
ansible/homework5.4/stack/exporters/docker-compose.exporters.yaml
ansible/homework5.4/stack/grafana/provisioning/dashboards/dashboard.yml
ansible/homework5.4/stack/grafana/provisioning/dashboards/general_docker_host.json
ansible/homework5.4/stack/grafana/provisioning/dashboards/general_monitor_services.json
ansible/homework5.4/stack/grafana/provisioning/datasources/datasource.yml
ansible/homework5.4/stack/prometheus/alert.rules
ansible/homework5.4/stack/prometheus/prometheus.yml
.idea/*